<!DOCTYPE html>
<html ng-app='quizzoMusic'>
  <head>
    <meta charset="utf-8" />
    <title>QuizzoMusic</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css" />
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body>
    <h1>QuizzoMusic (main)</h1>
    <div ui-view="login"></div>
  </body>
</html>


<!--  <!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <form name="input" action="/auth/beatsmusic" method="get">
      <input type="submit" value="login">
    </form>
  </body>
</html> -->